*.DS_Store
.venv
.vscode
__pycache__
src/laddr.egg-info
examples/data_*
examples/*/covg_norm
examples/*/gene_bins
examples/*/info
examples/*/models
examples/*/phenotypes
examples/snakemake/.snakemake
