# Default configuration for latent-rna pipeline

# Input files
input:
  # GTF annotation file path
  gtf: path/to/annotation.gtf
  # How to specify datasets and samples and locate bigWig coverage files
  coverage:
    # Method to use for locating bigWig files: directory or manifest
    method: manifest
    # If method is "directory", path of the directory whose contents will be read as {dataset}/{sample}.bw
    directory: covg_bigwig
    # If method is "manifest", path to a headerless tab-delimited manifest file with three columns:
    # dataset, sample, path to bigWig file.
    manifest: coverage_manifest.tsv
  # Optional: List of paths to phenotype tables (BED format) to regress out
  # pheno_paths:
  #   - path/to/modality1.bed.gz
  #   - path/to/modality2.bed.gz

# Binning parameters
binning:
  # Number of genes (at most) per batch
  batch_size: 200
  # Maximum width of any bin
  max_bin_width: 1024
  # Parameters for adaptive binning
  adaptive:
    # Maximum number of coverage samples to use for binning. Samples from all datasets are used, and a random subset is selected if there are more than this number. These samples are used to calculate variance at each base.
    max_samples: 256
    # Approximate number of bins to create per gene on average.  
    bins_per_gene: 256

# Model parameters
model:
  # Set to true if the samples being processed are different from the ones used
  # to train the model. In this case, the existing coverage normalization
  # parameters will be applied to the new samples so they are normalized
  # consistently with the training data.
  use_existing: false
  # Maximum variance explained by PCs to keep. Pass 0 or 1 for no variance explained cutoff.
  var_explained_max: 0.8
  # Maximum number of PCs to keep. Pass 0 for no cutoff.
  n_pcs_max: 16
