# Default configuration for latent-rna pipeline

# Input files
input:
  # GTF annotation file path. Must be the collapsed annotation produced by `collapse_annotation.py`.
  gtf: ../data_input/annotation.gtf
  # Chromosome lengths file (e.g. chrNameLength.txt from STAR index)

  chromosomes: ../data_input/chr_lengths.genome
  # File containing paths to bigWig coverage files
  bigwig_paths: ../data_input/bigwig_paths.txt
  # Optional: File containing paths to phenotype tables to regress out
  # pheno_paths: null
  pheno_paths:
    - ../data_input/phenotypes/alt_TSS.bed.gz
    - ../data_input/phenotypes/alt_polyA.bed.gz
    - ../data_input/phenotypes/expression.bed.gz
    - ../data_input/phenotypes/isoforms.bed.gz
    - ../data_input/phenotypes/splicing.bed.gz
    - ../data_input/phenotypes/stability.bed.gz

# Binning parameters
binning:
  # Method to use for binning: adaptive1, adaptive2, adaptive3, bin-width, or n-bins 
  # Whether to determine bins adaptively from coverage data, split all coding/noncoding regions into fixed-width bins, or split each region into a fixed number of bins.
  # TODO describe each method in more detail
  method: n-bins
  # Number of genes per batch
  batch_size: 200
  # Parameters for adaptive binning
  adaptive:
    # For method "adaptive2" or "adaptive3", approximate number of bins to create per gene on average.  
    bins_per_gene: 128
    # For method "adaptive1", minimum allowed mean total coverage per sample for a bin.
    min_mean_total_covg: 128
    # For method "adaptive1", maximum allowed correlation between normalized coverage of adjacent bins.
    max_corr: 0.8
  # Parameters for fixed-width binning  
  fixed_width:
    # Width of bins for coding (exonic) regions of the genes.
    coding: 16
    # Width of bins for noncoding (non-exonic) regions of the genes.
    noncoding: 128
  # Number of bins per exonic/intronic region for n-bins method
  n_bins: 24
  # Maximum width of any bin
  max_bin_width: 1024
  # Number of genes (at most) per batch.
  batch_size: 200

# Model parameters
model:
  # Maximum variance explained by PCs to keep. Pass 0 or 1 for no variance explained cutoff.
  var_explained_max: 0.8
  # Maximum number of PCs to keep. Pass 0 for no cutoff.
  n_pcs_max: 16
  # Whether to use functional PCA
  use_fpca: false
  fpca:
    # Use bin numbers ('bin') or genomic positions ('pos') as x-values
    x_values: bin
    # Basis function: discrete or spline
    basis: discrete
